<h2>Student List</h2>
<a href="/students/new">Add New Student</a>

<br/>
<table>
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Cohort</th>
    <th>Graduation Date</th>
    <th>Company</th>
    <th></th>
  </tr>
  <% for student in @students %>
  <tr>
    <td><%= student.id %></td>
    <td><a href="/students/<%= student.id %>/edit"><%= student.name %></a></td>
    <td><%= student.gender %></td>
    <td><%= student.cohort %></td>
    <td><%= student.graduation_date %></td>
    <td><a href="/companies/<%= student.company_id %>/edit"><%= student.company %></a></td>
    <td>
      <form method="post" action="/students/<%= student.id %>">
        <input type="hidden" name="_method" value="delete" />
        <button>Delete</button> 
      </form>
    </td>
  </tr>
  <% end %>
</table>