<h2>Student Profile</h2>

<img src="<%= settings.image_path + '/' + @student.picture %>" alt="<%= @student.name %>">

<h3>Student Name: <%= @student.name %></h3>
<h3>Current Company: 
  <%if @student.company != nil %>
  <%= @student.company.name %>
  <% end %> 
</h3>
<h3>Position: 
  <% if @student.type != nil %>
  <%= @student.type.type %>
  <% end %>
</h3>

<h3>CV</h3>
<p>...</p>

<form method="get" action="/students/<%= @student.id %>/edit">
    <input type="submit" value="Edit"/>
</form>