<h2>Company List</h2>
<a href="/companies/new">Add New Company</a>

<br/>
<table>
  <tr>
    <th>Company ID</th>
    <th>Name</th>
    <th>Location</th>
    <th></th>
  </tr>

  <% for company in @companies %>
  <tr>
    <td><%= company.id %></td>
    <td><a href="/companies/<%= company.id %>"><%= company.name %></a></td>
    <td><%= company.location %></td>
    <td>
      <form method="post" action="/companies/<%= company.id %>">
      <input type="hidden" name="_method" value="delete" />
      <button>Delete</button>
      </form>
    </td>
  </tr>
 <% end %>
 </table>