<h2>Change Employment Record Form</h2>

<form method="post" action="/jobs/<%= @job.id %>">
  <div>

    <div>
      <label for="student_name">Student Name</label>
      <%= @student.name %>
      <input value="<%= @student.id %>" name="student_id" type="hidden"></input>
    </div>

    <div>
      <label for="company_name">Company Name</label>
      <select name="company_id" id="company_name">
      <% for company in @companies %>
        <option <%= "selected" if @job.company_id == company.id %> value="<%= company.id %>"><%= company.name %></option>
      <% end %>
      </select>
    </div>

    <div>
      <label for="type_type">Job Type</label>
      <select name="type_id" id="type_type">
      <% for type in @types %>
      <option  <%= "selected" if @job.type_id == type.id %> value="<%= type.id %>"><%= type.type %></option>
      <% end %>
      </select>
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>
</form>




